<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a46c7a8c-b2ac-4f7e-9f23-5738949a47fb/resourcegroups/FeedbackApi20230110144522ResourceGroup/providers/Microsoft.Web/sites/FeedbackApi20230110144522</ResourceId>
    <ResourceGroup>FeedbackApi20230110144522ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/a46c7a8c-b2ac-4f7e-9f23-5738949a47fb/resourceGroups/FeedbackApi20230110144522ResourceGroup/providers/Microsoft.ApiManagement/service/FeedbackApi/apis/FeedbackApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://feedbackapi20230110144522.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>fdf0b1f5-81e0-4223-b797-4151bfb8d451</ProjectGuid>
    <MSDeployServiceURL>feedbackapi20230110144522.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FeedbackApi20230110144522</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$FeedbackApi20230110144522</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>